/* 按钮 */
.pxBtn{cursor:pointer;display:inline-block;padding:2.5px 4px;background-color:#2C3E50;color:#ECF0F1;border:none;}
.pxBtn:active{background-color:#1C2E40;}

/* 可移动 */
.onepxDraggable{cursor:move;}

.onepx-wrapper{z-index:20000000;position:absolute;top:0;left:0;}
/* 图片 */
.onepx-wrapper .onepx-picbox{position:absolute;top:0;left:0;/*pointer-events:none;*/}
.onepx-wrapper .onepx-inserted-pic{opacity:0.5;}
/* 操作 */
.onepx-wrapper .onepx-opertion{position:absolute;width:100%;left:0;top:5px;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:justify;}
/* 关闭 */
.onepx-btns{margin-left:5px;}
.onepx-wrapper .close{}
	/* 更多操作 */
.onepx-extra{position:relative;margin-right:5px;width:50px;}
.onepx-extra .btn-box{text-align:center;margin-bottom:15px;}
.onepx-more-box{display:none;/*display:-webkit-box;-webkit-box-orient:vertical;*/}

	/* 透明度 */
.onepx-extra .opacity-box{position:absolute;left:50%;top:160px;margin-left:-65px;padding-bottom:5px;}
.onepx-extra .opacity{-webkit-transform: rotate(270deg);margin-bottom:5px;width:129px;height:3px;-webkit-appearance:none;border-radius:5px;background-color:#2C3E50;}
.onepx-extra .opacity::-webkit-slider-thumb{-webkit-appearance:none;height:15px;width:15px;border-radius:8px;box-shadow:0 0 1px rgba(0,0,0,0.5);background:#ECF0F1;}
.onepx-extra .opacity::-webkit-slider-thumb:active{background:#bdc3c7;}

	/* 调整位置 */
.onepx-extra .nav{cursor:default;position:relative;background-color:#2C3E50;margin:0 auto;width:50px;height:50px;border-radius:25px;}
.onepx-extra .arrow{position:absolute;cursor:pointer;border-width:8px;border-style:solid;border-color:transparent;height:0;font-size:0;}
.onepx-extra .top{border-bottom-color:#ECF0F1;top:-3px;left:17px;}
.onepx-extra .top:active{border-bottom-color:#bdc3c7;}
.onepx-extra .bottom{border-top-color:#ECF0F1;bottom:-3px;left:17px;}
.onepx-extra .bottom:active{border-top-color:#bdc3c7;}
.onepx-extra .left{border-right-color:#ECF0F1;left:-3px;top:17px;}
.onepx-extra .left:active{border-right-color:#bdc3c7;}
.onepx-extra .right{border-left-color:#ECF0F1;right:-3px;top:17px;}
.onepx-extra .right:active{border-left-color:#bdc3c7;}