body{background:#ECF0F1}
#pxContainer{width:405px;}

/* 滚动条 */
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{background-color:#2C3E50;border-radius:4px;width:16px;border: 1px solid #cfcfcf;}
::-webkit-scrollbar-thumb{background-color:#1C2E40;}

/* 按钮 */
.pxBtn{cursor:pointer;display:inline-block;padding:2.5px 4px;background-color:#2C3E50;color:#ECF0F1;border:none;}
.pxBtn:active{background-color:#1C2E40;}

/* 顶部区域 */
#pxheader{margin:30px 0 15px;} 

/* logo */
.logo-box{float:left;margin-left:13px;}
.logo-box .logo{display:block;}

/* 添加按钮区域 */
.add-box{position:relative;float:right;margin-right:13px;margin-top:11px;}
.add-box .pxBtn, .add-box .pxManageBtn{padding:7.4px 12px;}
.add-box input[name=filename]{cursor:pointer;opacity:0;position:absolute;left:0;top:0;width:72px;height:29px;}

/* 展示区域 */
.show-box{width:100%;overflow:hidden;}
.show-list{margin-left:13px;width:520px;}
.show-item{position:relative;float:left;width:185px;height:190px;margin:0 8px 8px 0;}
.pics{opacity:0.5;width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:100% auto;}
.show-item .handles{opacity:0;position:absolute;top:10px;right:5px;transition:opacity ease-in-out 0.1s}
.show-item:hover .handles{opacity:1;}